div.controls {
  text-align: center;
}

div.controls div {
  display: inline-block;
  width: 15%;
  height: 40px;
  margin: 2px;
  padding: 0;
}

div.controls div.arrow {
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
  background-color: #AAAAAA;
  border-color: #888888;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
}

div.controls div.arrow:hover {
  background-color: #CCCCCC;
}

#game {
  text-align: center;
}

#game canvas {
  width: 100%;
}
